<!DOCTYPE html>
<html>
  <head>
    <title>Inclassproject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="header">
        <h1>Stirling, Castaneda, Uchegbu, Doyle Manager Thing</h1>
        <%= link_to "Offices", offices_path %> | <%= link_to "Professors", professors_path %> |
        <%= link_to "Course_Assignments", course_assignments_path %> | 
        <%= link_to "Courses", courses_path %>

    </div>

    <%= yield %>
  </body>
</html>
